<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>InternetRover</title>
  <link rel="shortcut icon" href='../pictures/icon.ico'>
  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  <!-- Custom styles for this template -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.5/css/fixedHeader.bootstrap4.min.css">
</head>

<body>
  <div>
    <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/admin/xiaogaogao">IDP1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/xiaogaogao/idp">IDP2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
</ul>
    <!-- Page Content -->
    <div id="page-content-wrapper" style="margin-top:3%">
      <div class="container-fluid">
        <div>
          <h2>A Personal Development Plan (PDP) Guide & Template</h2>
          <h3>What is a Personal Development Plan?</h3>
          <p>
            <strong>A personal development plan (or PDP)</strong>
            isn’t just a mandatory something that managers makes you do before a yearly appraisal; they’re also that firm rock that helps your dreams and desires stay in sight.
          </p>
          <p>A good plan provides focus; it helps you map out a path towards your version of success; it allows you to make better decisions, and it prevents you from taking backwards steps. A good plan also allows you to strategise and get back on track when things do go wrong.</p>
          <p>A clear plan is also beneficial for your mental health as a sense of purposefulness can often help reduce stress and anxiety.</p>
          <p>So if you haven’t considered where you want to go or if you’ve ever thought that a five-year plan isn’t for you, now is the time to start thinking about who and where you want to be in your future.</p>
          <p></p>
          <h3>Writing a Personal Development Plan</h3>
          <p>There are seven steps to writing a PDP:</p>
          <ul>
            <li>Set yourself goals.</li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="  https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
</body>
<script type="text/javascript">
$(document).ready(function() {
  var table = $('#example').DataTable( {
      fixedHeader: true
  } );
} );
</script>
</html>
