<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>InternetRover</title>
  <link rel="shortcut icon" href='../pictures/icon.ico'>
  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  <!-- Custom styles for this template -->
  <link href="../css/jobhunting.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.5/css/fixedHeader.bootstrap4.min.css">
</head>

<body>
  <div>
    <!-- Page Content -->
    <div id="page-content-wrapper" style="margin-top:3%">
      <div class="container-fluid">
        <div class="table-responsive">
          <h1>Individual development plan</h1>
          <p>
          An individual development plan, or IDP, is a document completed by individual for the plan of self-development over the next period, usually one year.
          This plan is then reviewed and discussed by supervision to match the individual goals with company goals. They also discuss various options and approaches
          to achieve the plan. At the end of one year (or other time period) this plan is reviewed to see how many goals are fulfilled and what are the new goals and
          plans for the next year.
          </p>
          <p>
          Contents of the IDP can vary. Some employees focus on fixing weaknesses. Others focus on playing to their strengths. Some focus on short-term goals and development,
           other on the long-term. One key component to any good IDP is that the employee feels total ownership of the content. It's generally regarded a bad practice to write
            "what the boss wants to hear".
          </p>

        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="  https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
</body>
<script type="text/javascript">
$(document).ready(function() {
  var table = $('#example').DataTable( {
      fixedHeader: true
  } );
} );
</script>
</html>
