<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="The intetnetRover Project@marstravel.fi">
  <meta name="author" content="Yunlong Liu">
  <title>InternetRover</title>
  <!-- Custom styles for this template -->
  <!-- <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
  <link href="css/simple-sidebar.css" rel="stylesheet">
  <style>
    body{
      background: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%);
    }
    #wrapper{
      position: relative;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .contactHeader{
      position: relative;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      filter: brightness(1.1);
      padding-top: 80px;
      text-align: center;
    }
    .contactHeader article{
      position: relative;
    }
    .contactHeader h1{
    }
    .contactHeader hr{
      width: 30px;
      height: 0;
      border: 2px red solid;
    }
    .table_container h2{
      color: white;
      cursor: pointer;
    }
    .showContactsC{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .row.table_container{
      display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: baseline;
    }
    #addNewContacts{
      padding: 10px;
    border-radius: 10px;
    color: #9e579d;
    border: none;
    }
    .table{
      padding-top: 20px;
    }
    #addContactPopUp{
      display: none;
      position: absolute;
      width: 100vw;
      max-width: 600px;
      height: 100vh;
      max-height: 600px;
      background: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .form-row, .form-group{
      padding-left: 20px;
    }
    .form-group label{
      padding-left: unset;
    }
    .col-md-4{
      padding: 10px 0;
    }
    .formDelete{
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 9;
      cursor: pointer;
      padding: 10px;
      background: gray;
      opacity: .3;
      color: white;
    }
    #page-content-wrapper{
      position: relative;
      width: 100%;
      height: 100%;
      padding-top: 20px;
    }
    #addContactPopUp form{
      position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    }
.container-fluid{
  padding-left: 10px;
}
#contact_tbody th{
  padding: 10px;
}
#contact_tbody td{
  padding: 10px;
}
  </style>
</head>

<body>

  <div id="wrapper">
    <% include ../../commenComponents/header %>
    <section class="contactHeader">
      <article>
        <h1>Simple Contacts Management App</h1>
        <hr>
        <p>User can create account and create their own contacts</p>
        <p>It allow user crate new contact, motify and delete contact.</p>
        <p>Since my database does not have enough space, create personal account is disbale.</p>
        <p>And thid is just a demo which is allow to play with limited data.</p>
      </article>
    </section>
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="showContactsC">
          <div class="row table_container">
            <button id="addNewContacts">AddContact</button>
            <table class="table" style="color: white;">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
                <th scope="col">Nationality</th>
                <th scope="col">Description</th>
                <th scope="col">Gender</th>
                <th scope="col"> Operations</th>
              </tr>
            </thead>
              <tbody id="contact_tbody">
              </tbody>
            </table>
          </div>
      </div>
    </div>

    <div id="addContactPopUp">
      <div id="page-content-wrapper">
        <div class="formDelete" id="formDelete">
          X
        </div>
        <form >
          <div class="container-fluid">
            <h1 class="mt-4">Add Contact</h1>
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="validationCustom01" >First name <span> (Required)</span></label>
              <input type="text" placeholder="First anme" class="form-control input-md" name="firstName" >
                  <div class="alert alert-danger" role="alert" id="firstName_warning" style="display:none;">
                    This is firstName warning alert
                  </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationCustom02" >Last name</label>
                <input type="text" placeholder="First anme" class="form-control input-md" name="lastName" >
                    <div class="alert alert-danger" role="alert" id="lastName_warning" style="display:none;">
                      This is lastName warning alert
                    </div>
                </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label" >Nationality<span> (Required)</span></label>
            <div class="col-md-4">
                <div class="input-group">
                  <input type="text" placeholder="Nationality" class="form-control input-md" name="nationality">
                  <div class="alert alert-danger" role="alert" id="lastName_warning" style="display:none;">
                    This is nationality warning alert
                  </div>
                 </div>
               </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address<span> (Required)</span></label>
              <div class="col-md-4">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label" >Description</label>
              <div class="col-md-4">
                <div class="input-group">
                   <input type="text" placeholder="Description" class="form-control input-md" name="description">
                </div>
              </div>
            </div>
            <div class="form-group">
             <label class="col-md-4 control-label" for="Gender">Gender</label>
             <div class="col-md-4">
               <label class="mr-3"> <input type="radio"  name="sex" value="Male"> Male
               </label>
               <label class="mr-3"><input type="radio" name="sex" value="Female"> Female
               </label>
             </div>
            </div>
            <div class="form-group">
            <div class="col-md-4">
               <button type="button" name="submit" class="btn btn-danger" id="submitForm" disabled >Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div id="motifyContacts">
      
    </div>
  </div>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../vendor/simple-sidebar.js"></script>
  <script src="../vendor/contact.js"></script>

  <!-- Menu Toggle Script -->
  <script>
  </script>

</body>

</html>
