    <!-- Sidebar -->
    <div class="navBar">
        <div id="mySidenav" class="sidenav">
            <div class="sidenavRg">
                <a href="/dashboard" class="navItem">Dashboard</a>
                <a href="/contact" class="navItem">Contact</a>
                <a href="/news" class="navItem">News</a>
                <a href="/generatecv" class="navItem">generateCv</a>
                <a href="/wordcloud" class="navItem">WordCloud</a>
                <a href="/blog" class="navItem">Blog</a>
            </div>
            <div class="sidenavLf">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            </div>
        </div>
        <div id="menu_btn">
          <span style="font-size:30px;cursor:pointer;color:aliceblue" onclick="openNav()">&#9776;</span>
        </div>
        <a href="/">
            <div id="logo-atom">
            <div class="circle ring1">
                <div></div>
            </div>
            <div class="circle ring2">
                <div></div>
            </div>
            <div class="circle ring3">
                <div></div>
            </div>
            </div>
        </a>
        <div class="navOverlay"></div>
      </div>