<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="The intetnetRover Project@marstravel.fi">
  <meta name="author" content="Yunlong Liu">
  <title>InternetRover</title>
  <link rel="shortcut icon" href='../pictures/icon.ico'>
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  <link href="css/simple-sidebar.css" rel="stylesheet">
  <link href="css/cv.css" rel="stylesheet">
</head>
<body>
  <div class="d-flex" id="wrapper">
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="cv-container">
        <div class="col-md-8 main-wrapper">
          <section class="summary">
            <div class="flex-row title_mainWrapper">
              <i class="far fa-list-alt"></i>
              <h2>SUMMARY</h2>
            </div>
            <div class="description" style="padding:10px 0;">
              <p>Experienced full stack developer with performance driven concept and motivated attitude.
                Having two years of extensive experience in software developments in different phases, strong
                sense of team work, result oriented, schedule maintained and can work under pressure.   
              </p>
            </div>
          </section>
          <section class="experience">
            <div class="flex-row title_mainWrapper">
              <i class="fas fa-briefcase"></i>
              <h2>EXPERIENCES</h2>
            </div>
            <div class="globuzzer experience-item">
              <div class="experience-title exp-lf">
                <p class="company-name">Globuzzer</p>
                <span>Stockholm, Sweden</span>
                <p> Dec 2019- MAY 2020 </p>
              </div>
              <div class="experience_description exp-rg">
                <h4>Full stack Developer</h4>
                <p class="Word Cloud On Map">
                  Developed and maintained web applications, with applied
                  the technologies stacks of Express, React, NextJs and Firebase etc. 
                </p>
              </div>
            </div>
            <div class="MarsTravel experience-item">
              <div class="experience-title exp-lf">
                <p class="company-name">MarsTravel</p>
                <span>Helsinki, Finland</span>
                <p>2017- 2019 </p>
              </div>
              <div class="experience_description exp-rg">
                <h4>Frontend Developer</h4>
                <p>Develop web application to support small scale
                  businesses and companies.
                </p>
              </div>
            </div>
            <div class="InternetRover experience-item">
              <div class="experience-title exp-lf">
                <p class="company-name">InternetRover</p>
                <span>Helsinki,Finland</span>
                <p>2018-2019</p>
              </div>
              <div class="experience_description exp-rg">
                <h4>Freelance</h4>
                <p>
                  InternetRover is a web application to provide
                  users multi-services It is hosted on Heroku. Backend:
                  Express+MongoDB+Nodejs; Backend Architecture: MVC; Frontend:
                  Bootstrap, JS, css, Jquery.
                </p>
              </div>
            </div>
            <div class="WordCloudOnMap experience-item">
              <div class="experience-title exp-lf">
                <p class="company-name">Master Thesis</p>
                <span>Helsinki, Finland</span>
                <p>2018-present</p>
              </div>
              <div class="experience_description exp-rg">
                <h4>Word Cloud On Map</h4>
                <p class="Word Cloud On Map">
                  Mopsi project is location based web game.
                  Components are developed to visualize users' comments as Word Cloud in Mopsi game.
                  The algorithm used is greedy algorithm. Hierarchical bounding boxes, quadTree are used to speed algorithm. 
                </p>
              </div>
            </div>
            <div class="postman experience-item">
              <div class="experience-title exp-lf">
                <p class="company-name">Posti Group oyj</p>
                <span>Helsinki, Finland</span>
                <p>2017 - present</p>
              </div>
              <div class="experience_description exp-rg">
                <h4>Postman</h4>
                <p>
                  Part time job to delivery HS in helsinki area.
                </p>
              </div>
            </div>
            <div class="TangMen experience-item">
              <div class="experience-title exp-lf">
                <p class="company-name">Suomnen LFJ Oy</p>
                <span>Helsinki, Finland</span>
                <p> 2017 - 2018 </p>
              </div>
              <div class="experience_description exp-rg">
                <h4>Owner of TangMen Restaurtant</h4>
                <p>
                  Supervise restaurant daily operations, vendors and material
                  evaluations/selections, kitchen operation and front house management. 
                  Serve customers, take orders and supervise food delivery.
                </p>
              </div>
            </div>
            <div class="Project-Turku experience-item">
              <div class="experience-title exp-lf">
                <p class="company-name">Turku University</p>
                <span>Turku, Finland</span>
                <p>Dec 2015</p>
              </div>
              <div class="experience_description exp-rg">
                <h4>Web Application Developer</h4>
                <p>
                  Participated in developing the web application at Game Laboratory in Turku University by Django.
                  The web application is to help people who suffer severe illnesses to think positive and
                  have better experience in life by listening to healing music/songs, chatting with people etc. 
                </p>
              </div>
            </div>
          </section>
          <section class="projects" style="padding-top: 10px;">
            <div class="flex-row title_mainWrapper">
              <i class="fas fa-cogs"></i>
              <h2 >PROJECTS</h2>
            </div>
            <div class="flex-row  proj" style="padding-top: 10px;">
                <h4>
                <a href="http://cs.uef.fi/mopsi/">WordCloud</a>
                </h4>
                <p>
                  Component to visualize users's data as Word Cloud on Mopsi game.
                </p>
            </div>
            <div class="flex-row InternetRover proj">
                <h4>
                <a href="https://internetrover.herokuapp.com/index">
                  InternetRover
                </a>
                </h4>
                <p>
                    Web application to host personal hobbies.Currently avaliable functions are Check weather of anycity; scrape news; manage contacts; generate word cloud
                </p>
            </div>
            <div class="flex-row CvGenerator proj">
                <h4>
                <a href="https://internetrover.herokuapp.com/generatecv">
                  CvGenerator
                </a>
                </h4>
                <p>
                    Web application genrate CV onine. User provide personal information;review in real time and download as any formats.
                </p>
            </div>
            <div class="flex-row TruckSafety proj">
                <h4>
                <a>
                  TruckSafety
                </a>
                </h4>
                <p>
                  Android application to detect speed and temperature of truck's tire.(Not Avaliable)
                </p>
            </div>
          </section>
        </div>
        <div class="col-md-4 side-wrapper">
          <div class="profile-container">
            <img src="../pictures/long.png" class="img-fluid" alt="">
            <h1 class="name"> Yunlong Liu</h1>
          </div>
          <div class="contact-container">
            <ul>
              <li class="email">
                <i class='fas fa-mail-bulk'></i>
                <a href="mailto:yunlong.a.liu@gmail.com" title="Click and send Email">yunlong.a.liu@gmail.com</a>
              </li>
              <li class="phone">
                <i class='fas fa-phone'></i>
                <a>0442362960</a>
              </li>
              <li class="webpage">
                <i class='fas fa-globe'></i>
                <a href="https//:internetrover.herokuapp.com/cv">internetrover.herokuapp.com/cv</a>
              </li>
              <li class="linkedin">
                <i class='fab fa-linkedin-in'></i>
                <a href="https://linkedin.com/in/yunlong-liu-a66a29b9">linkedin.com/in/yunlong-liu-a66a29b9</a>
              </li>
              <li class="github">
                <i class='fab fa-github'></i>
                <a href="https://github.com/MARSTRAVEL">https://github.com/MARSTRAVEL</a>
              </li>

            </ul>
          </div>
          <div class="languages-container">
            <h2>LANGUAGES</h2>
            <ul>
              <li>Chinese(Native)</li>
              <li>English(Good)</li>
              <li>Finnihs(Basic)</li>
            </ul>
          </div>
          <div class="techSkill-container">
            <h2>SKILLS</h2>
            <div id="progress">
              <span style="width:70%;">React</span>
            </div>
            <div id="progress">
              <span style="width:60%">NextJs</span>
            </div>
            <div id="progress">
              <span style="width:90%;">JavaScript</span>
            </div>
            <div id="progress">
              <span style="width:65%">Express</span>
            </div>
            <div id="progress">
              <span style="width:34%">Python</span>
            </div>
            <div id="progress">
              <span style="width:40%;">MongoDB</span>
            </div>
            <div id="progress">
              <span style="width:50%;">Data Analysis</span>
            </div>
          </div>
          <section class="education">
            <div class="flex-row title_mainWrapper">
              <i class="fas fa-graduation-cap" ></i>
              <h2>EDUCATION</h2>
            </div>
            <div class="flex-row">
              <div class="name_date">
                <p> West Anhui University</p>
                <p>2011-2013</p>
              </div>
              <p> Information Technology</p>
            </div>
            <div class="flex-row">
              <div class="name_date">
                <p> Savonia University Of Applied Science</p>
                <p>2013-2015</p>
              </div>
              <p> Information Technology</p>
            </div>
            <div class="flex-row">
              <div class="name_date">
                <p> University Of Eastern Finland</p>
                <p>2015-present</p>
              </div>
              <p> Conmuter Science </p>
            </div>
          </section>
        </div>
    </div>
    </div>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Menu Toggle Script -->
  <script>
    $(document).ready(function() {
      // fix background img flash
    $("body").fadeIn(1000);
  });
  </script>

</body>

</html>
