<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="The intetnetRover Project@marstravel.fi">
  <meta name="author" content="Yunlong Liu">

  <title>InternetRover</title>
  <link rel="shortcut icon" href='../pictures/icon.ico'>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Icon -->
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="css/simple-sidebar.css" rel="stylesheet">
  <link href="css/cv.css" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container h-100">
        <div class="row cv-container">
          <div class="col-md-8 main-wrapper">
            <section class="experience">
              <div class="d-flex flex-row title_mainWrapper">
                <i class="fas fa-briefcase"></i>
                <h2>EXPERIENCES</h2>
              </div>
              <div class="Word Cloud On Map">
                <div class="d-flex flex-row">
                  <div class="p-2"><h4>Word Cloud On Map</h4></div>
                  <div class="p-2 ml-auto"><p> 2018-present </p></div>
                </div>
                <div class="experience_description">
                  <p class="Word Cloud On Map">
                    Mopsi project is location based web game.
                    Word Cloud On Map is my Master Thesis <br>in University of Eastern Finland;
                    I developed the component to visualize users' comments<br> as Word Cloud in Mopsi game.
                    The algorithm used is greedy algorithm. Hierarchical bounding boxes, quadTree are used to speed algorithm.
                    </p>
                </div>
              </div>
              <div class="InternetRover">
                <div class="d-flex flex-row">
                  <div class="p-2"><h4>InternetRover</h4></div>
                  <div class="p-2 ml-auto"><p> 2019 - present </p></div>
                </div>
                <div class="experience_description">
                  <p>
                     InternetRover is a web application that developed by myself to host perosnal hobbies. It is hosted on Heroku. Backend:Express+MongoDB+Nodejs; Backend Architectture:MVC;<br>
                     Frontend: Bootstrap+JS+css+Jquery
                   </p>
                </div>
              </div>
              <div class="TangMen">
                <div class="d-flex flex-row">
                  <div class="p-2"><h4>Founder of TangMen Restaurtant</h4></div>
                  <div class="p-2 ml-auto"><p> 2017 - 2018 </p></div>
                </div>
                <div class="experience_description">
                  <p>Because of my persnal hobby, i had my own restaurtant during year of 2017&&2018. <br>I failed in the end, but i learned how important team work is to the company's grow.</p>
                </div>
              </div>
              <div class="MarsTravel">
                <div class="d-flex flex-row">
                  <div class="p-2"><h4>Founder of MarsTravel</h4></div>
                  <div class="p-2 ml-auto"><p> 2017 - 2018 </p></div>
                </div>
                <div class="experience_description">
                  <p>MarsTravel is IT start up to develop website/application for small size company. My role is to handle paper work.
                  </p>
                </div>
              </div>
              <div class="Project-Turku">
                <div class="d-flex flex-row">
                  <div class="p-2"><h4>Life Before death</h4></div>
                  <div class="p-2 ml-auto"><p> 2015</p></div>
                </div>
                <div class="experience_description">
                  <p>
                    Life Before death is a web application to help the people who is nearly dying to think positive and enjoy the current life by
                     listening to healing music/songs, chating with people etc. The project is hosted at Game Laboratory in Turku University by one of my professor.
                  </p>
                </div>
              </div>
            </section>
            <section class="projects">
              <div class="d-flex flex-row title_mainWrapper">
                <i class="fas fa-gears" ></i>
                <h2 >PROJECTS</h2>
              </div>
              <div class="d-flex flex-row wordCloud on Mopsi">
                <div class="p-2">
                  <h4>
                  <a href="http://cs.uef.fi/mopsi/">wordCloud</a>
                  </h4>
                </div>
                <div class="p-2">
                  <p>
                    Component to visualize users's data as Word Cloud on Mopsi game.
                  </p>
                </div>
              </div>
              <div class="d-flex flex-row InternetRover">
                <div class="p-2">
                  <h4>
                  <a href="https://internetrover.herokuapp.com/index">
                    InternetRover
                  </a>
                  </h4>
                </div>
                <div class="p-2">
                  <p>
                      Web application to host personal hobbies.Currently avaliable functions are Check weather of anycity; scrape news; manage contacts; generate word cloud
                  </p>
                </div>
              </div>
              <div class="d-flex flex-row CvGenerator">
                <div class="p-2">
                  <h4>
                  <a href="https://internetrover.herokuapp.com/generatecv">
                    CvGenerator
                  </a>
                  </h4>
                </div>
                <div class="p-2">
                  <p>
                      Web application genrate CV onine. User provide personal information; <br>review in real time and download as any formats.
                  </p>
                </div>
              </div>
              <div class="d-flex flex-row TruckSafety App">
                <div class="p-2">
                  <h4>
                  <a>
                    TruckSafety
                  </a>
                  </h4>
                </div>
                <div class="p-2">
                  <p>
                    Android application to detect speed and temperature of truck's tire.(Not Avaliable)
                  </p>
                </div>
              </div>
            </section>
            <section class="education">
              <div class="d-flex flex-row title_mainWrapper">
                <i class="fas fa-graduation-cap" ></i>
                <h2>EDUCATION</h2>
              </div>
              <div class="d-flex flex-row">
                <div class="p-2"><p>2011-2013</p></div>
                <div class="p-2"><p> Information Technology</p></div>
                <div class="p-2"><p> West Anhui University</p></div>
              </div>
              <div class="d-flex flex-row">
                <div class="p-2"><p>2013-2015</p></div>
                <div class="p-2"><p> Information Technology</p></div>
                <div class="p-2"><p> Savonia University Of Applied Science</p></div>
              </div>
              <div class="d-flex flex-row">
                <div class="p-2"><p>2015-present</p></div>
                <div class="p-2"><p> Conmuter Science </p></div>
                <div class="p-2"><p>  University Of Eastern Finland</p></div>
              </div>
            </section>
          </div>
          <div class="col-md-4 side-wrapper">
            <div class="profile-container">
              <img src="../pictures/long.png" class="img-fluid" alt="">
              <h1 class="name"> Yunlong Liu</h1>
            </div>
            <div class="contact-container">
              <ul>
                <li class="email">
                  <i class='fas fa-mail-bulk'></i>
                  <a href="mailto:yunlong.a.liu@gmail.com" title="Click and send Email">yunlong.a.liu@gmail.com</a>
                </li>
                <li class="phone">
                  <i class='fas fa-phone'></i>
                  <a>0442362960</a>
                </li>
                <li class="webpage">
                  <i class='fas fa-globe'></i>
                  <a href="https//:internetrover.herokuapp.com/cv">internetrover.herokuapp.com/cv</a>
                </li>
                <li class="linkedin">
                  <i class='fab fa-linkedin-in'></i>
                  <a href="https://linkedin.com/in/yunlong-liu-a66a29b9">linkedin.com/in/yunlong-liu-a66a29b9</a>
                </li>
                <li class="github">
                  <i class='fab fa-github'></i>
                  <a href="https://github.com/MARSTRAVEL">https://github.com/MARSTRAVEL</a>
                </li>

              </ul>
            </div>
            <div class="languages-container">
              <h2>LANGUAGES</h2>
              <ul>
                <li>Chinese(Native)</li>
                <li>English(Good)</li>
                <li>Finnihs(Basic)</li>
              </ul>
            </div>
            <div class="techSkill-container">
              <h2>PRO SKILLS</h2>
              <div id="progress">
                <span style="width:70%;">JavaScript</span>
              </div>
              <div id="progress">
                <span style="width:50%">Express</span>
              </div>
              <div id="progress">
                <span style="width:10%">Salesforce Admin</span>
              </div>
              <div id="progress">
                <span style="width:10%">Apex</span>
              </div>
              <div id="progress">
                <span style="width:34%">Python</span>
              </div>
              <div id="progress">
                <span style="width:40%;">MongoDB</span>
              </div>
              <div id="progress">
                <span style="width:60%;">Github</span>
              </div>
              <div id="progress">
                <span style="width:50%;">Data Analysis</span>
              </div>
            </div>
            <div class="interest-container">
              <h2>INTERESTS</h2>
              <ul>
                <li>Cycling</li>
                <li>Hiking</li>
                <li>Badminton</li>
                <li>Table Tennis</li>
              </ul>
            </div>
          </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
