<!DOCTYPE html>
<html lang="en">
<head>
<!-- API KEY O8A62I5REWNAM36I-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>InternetRover</title>
  <link rel="shortcut icon" href='../pictures/icon.ico'>
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  <!-- Custom styles for this template -->
  <!-- Custom styles for this template -->
  <link href="css/simple-sidebar.css" rel="stylesheet">
  <link rel="stylesheet" href="css/weather.css">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading" id="logo">
        <canvas id="canvas" width="280" height="90">
      </div>
      <div class="list-group list-group-flush">
        <a href="/dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a href="/contact" class="list-group-item list-group-item-action bg-light">Contact</a>
        <a href="/news" class="list-group-item list-group-item-action bg-light">News</a>
        <a href="/generatecv" class="list-group-item list-group-item-action bg-light">generateCv</a>
        <a href="/wordcloud" class="list-group-item list-group-item-action bg-light">WordCloud</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle"><i class="fa fa-navicon" style="font-size:20px"></i></button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                 <span class="sr-only">(current)</span>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid" style="background-color:white;">
        <div class="row">
          <div class="container_weather col-lg-3 col-md-3 col-sm-12 col-xs-12" id ="weather">
            <header class="header">
              <div class="search">
                <input type="text" placeholder="Enter City Name" id="search_city">
                <button type="button" name="button" id="current_weather">search</button>
              </div>
            </header>
            <main id="main">
              <div class="city-icon">
                <div class="city-icon-holder">
                  <div id="cityName"></div>
                  <img src="" alt="" id="icon">
                </div>
              </div>
              <div class="temperature">
                <div id="tempature"></div>
              </div>
              <div class="humidity">
                <div id="humidity"></div>
              </div>
              <div class="pressure">
                <div id="pressure"></div>
              </div>
              <div class="wind">
                <div id="wind"></div>
              </div>
            </main>
          </div>
        </div>
        <div class="row" style="margin-top:10%">
          <div class="stock col-9" style="height:100%">
            <canvas id="linechart_canvas" height="400px" ></canvas>
          </div>
          <div class="col-3">

          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="../vendor/logo.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <!-- Menu Toggle Script -->
  <script>
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

const weather = (url) => {
    // Create the XHR request
    const request = new XMLHttpRequest();
    // Return a new promise.
    return new Promise((resolve, reject) => {
      request.open('POST', url, true);
      request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
      request.onload = () => {
        // This is called even on 404 etc
        // so check the status
        if (request.status === 200 && request.readyState === 4) {
          // Resolve the promise with the response text
          resolve(request.response);
        } else {
          // Otherwise reject with the status text
          // which will hopefully be a meaningful error
          reject(Error(request.statusText));
        }
      };
      // Handle network errors
      request.onerror = () => {
        reject(Error('Network Error'));
      };
      // Make the request
      request.send();
    });
  };
$('#current_weather').click(function(){
    const openWeatherAPIKey = 'be4f63ffaad56d681f19dba18437e57e';
    const city = document.getElementById('search_city').value;
    let searchLink = "https://api.openweathermap.org/data/2.5/weather?q=" + city + "&appid="+openWeatherAPIKey;
    let city_name = document.getElementById('cityName');
    let city_tempature = document.getElementById('tempature');
    let city_humidity = document.getElementById('humidity');
    let city_icon = document.getElementById('icon');
    let city_pressure = document.getElementById('pressure');
    let city_wind = document.getElementById('wind');
    weather(searchLink)
    .then((response)=>{
      const result = JSON.parse(response);
      const cityName = result.name;
      const tempature = parseInt(result.main.temp - 273) + "°";
      const humidity = result.main.humidity + "%";
      const pressure = result.main.pressure + 'hPa';
      const wind = result.wind.speed + 'meter/sec';
      const icon = "http://openweathermap.org/img/w/" + result.weather[0].icon + ".png";
      city_name.innerHTML = cityName;
      city_tempature.innerHTML = '<p>'+'tempature:'+'</p>'+ tempature;
      city_humidity.innerHTML = '<p>'+'humidity:'+'</p>'+ humidity;
      city_pressure.innerHTML = '<p>'+'pressure:'+'</p>'+ pressure;
      city_wind.innerHTML = '<p>'+'wind:'+'</p>'+ wind;
      city_icon.src = icon;
      })
      .catch((error) => {
        city_name.innerHTML = '';
        city_tempature.innerHTML = '';
        city_humidity.innerHTML = '';
        city_icon.src = '';
        alert('Please Type correct city, for Example: beijing');
    });
    });


let url_symbol;
let url_interval;
const apiKey = 'O8A62I5REWNAM36I';
let url_function;
let data_lable=[];
let data_close = [];
let lable_counter= 0;
let data_counter = 0;


fetch('https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=MSFT&interval=60min&outputsize=full&apikey=O8A62I5REWNAM36I')
  .then(function(response) {
    return response.json();
  })
  .then(function(myJson) {
   for (const [key, value] of Object.entries(myJson['Time Series (60min)'])) {
     lable_counter += 1;
     data_counter += 1;
     if (lable_counter % 10 == 0) {
       data_lable.push(key);
       data_close.push(value['4. close'])
     }}
  var data = {
    labels: data_lable,
    datasets: [{
      label: "MSFT",
      fill:false,
      lineTension: 0,
      fillColor: "rgba(220,220,220,0.2)",
      strokeColor: "rgba(220,220,220,1)",
      pointColor: "rgba(220,220,220,1)",
      pointStrokeColor: "#fff",
      pointHighlightFill: "#fff",
      pointHighlightStroke: "rgba(220,220,220,1)",
      data: data_close
    }
  ]};
  var options = {
    responsive: true,
    maintainAspectRatio: false,
    title: {
    display: true,
    text: "MSFT-Day",
  }};
  var linechartCanvas = document.getElementById("linechart_canvas").getContext("2d");
  var lineChart = new Chart(linechartCanvas, {
    type: 'line',
    data: data,
    options: options

  });
}
);

  </script>

</body>

</html>
