<!DOCTYPE html>
<html lang="en">
<head>
<!-- API KEY O8A62I5REWNAM36I-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="description" content="The intetnetRover Project@marstravel.fi">
  <meta name="author" content="Yunlong Liu">

  <title>InternetRover</title>
  <link rel="shortcut icon" href='../pictures/icon.ico'>
  <!-- Bootstrap core CSS -->
  <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- Icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/dashboard.css">
  <link href="css/simple-sidebar.css" rel="stylesheet">
</head>
<body>
  <div id="wrapper">
    <% include ../commenComponents/header %>
  <section class="dashboardDes">
    <article>
      <h1>projects Playground</h1>
      <hr>
      <p>This is a place which i test some interesting idea.</p>
    </article>
  </section>
  <!-- Page Content -->
  <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="container_weather" id ="weather">
            <p style="color: white;">Type the city and click search to check weather</p>
            <header class="weatherTl">
                <input type="text" placeholder="Enter City Name" id="search_city" >
                <button type="button" name="button" id="current_weather">search</button>
            </header>
            <main id="main">
              <div class="city-icon tem-lf">
                <div class="city-icon-holder">
                  <div id="cityName"></div>
                  <img src="" alt="" id="icon">
                </div>
              </div>
              <div class="tem-rg">
                <div class="temperature tempItem">
                  <div id="tempature"></div>
                </div>
                <div class="humidity tempItem">
                  <div id="humidity"></div>
                </div>
                <div class="pressure tempItem">
                  <div id="pressure"></div>
                </div>
                <div class="wind tempItem">
                  <div id="wind"></div>
                </div>
              </div>
            </main>
          </div>
          <div class="container_todolist">
            <div id="myDIV" class="todoHeader">
              <h2 style="margin:5px"> Draggable To Do List</h2>
              <input type="text" id="myInput" placeholder="Task To Do...">
              <button onclick="newElement()" class="addBtn">ADD</button>
            </div>
            <div class="todoContent">
              <div class="col-4" style="height: 100%; width:30%;">
                <h4>TODO</h4>
                <ul class = 'todolist  connectedSortable' id="todo">
                  <li>Task To Do </li>
                </ul>
              </div>
              <div class="doing col-4" style="height: 100%; width:30%;">
                <h4>DOING</h4>
                <ul class = ' todolist  connectedSortable' id="doing">
                  <li>Task Doing</li>
                </ul>
              </div>
              <div class="donelist col-4 "  style="height: 100%; width:30%;">
                <h4>DONE</h4>
                <ul class = 'todolist connectedSortable' id = 'done'>
                  <li>Task Done</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="dashboard_row">
          <p style="color: white;padding-left: 30%;">select 60Min/Daily/Weekly/Monthly to review stock of MSFT</p>
          <div class="d-flex" id="time_series">
            <div class="p-2 timeSerie"><a class="btn" id="interval" role="button">60Min</a></div>
            <div class="p-2 timeSerie"><a class="btn daily" id="daily" role="button">Daily</a></div>
            <div class="p-2 timeSerie"><a class="btn weekly" id="weekly">Weekly</a></div>
            <div class="p-2 timeSerie"><a class="btn monthly" id="monthly">Monthly</a></div>
          </div>
          <div class="stock col-9">
            <canvas id="linechart_canvas" height="400px" ></canvas>
          </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script type="text/javascript" src="../vendor/dashboard.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="../vendor/simple-sidebar.js"></script>
  <!-- Menu Toggle Script -->
  <script>
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
