<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>InternetRover</title>
  <link rel="shortcut icon" href='../pictures/icon.ico'>
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Icon -->
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="css/simple-sidebar.css" rel="stylesheet">
  <link href="css/generatecv.css" rel="stylesheet">
</head>

<body>

  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading" id="logo">
        <canvas id="canvas" width="280" height="90"></canvas>
      </div>
      <div class="list-group list-group-flush">
        <a href="/dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a href="/contact" class="list-group-item list-group-item-action bg-light">Contact</a>
        <a href="/news" class="list-group-item list-group-item-action bg-light">News</a>
        <a href="/generatecv" class="list-group-item list-group-item-action bg-light">generateCv</a>
        <a href="/wordcloud" class="list-group-item list-group-item-action bg-light">WordCloud</a>
        <a href="/about" class="list-group-item list-group-item-action bg-light">About</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">
          <i class="fa fa-navicon" style="font-size:20px"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                 <span class="sr-only">(current)</span>
              <p>
                <!--<a href="logout">LOGOUT</a>-->
              </p>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container">
        <div class="row generatecv_content">
          <div class="col-md-7">
            <form role="form"  enctype="multipart/form-data" method="post" id="cv_form">
              <div class="row ">
                <div class="col ">
                  <label for="First Name">First Name</label>
                  <input type="text" class="form-control" id="generatecv_firstname"  name="firstName" placeholder="First Name" required="required">
                </div>
                <div class="col">
                  <label for="Last name">Last name</label>
                  <input type="text" class="form-control" id="generatecv_lastname"  name="lastName" placeholder="Last name" required="required">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="Phone">Phone</label>
                  <input type="text" class="form-control" id="generatecv_phone" name="phone" placeholder="Phone" required="required">
                </div>
                <div class="col">
                  <label for="E-mail">E-mail</label>
                  <input type="text" class="form-control" id="generatecv_email" name="eMail" placeholder="E-mail" required="required">
                </div>
              </div>


              <div class="row title links">
                <div class="col">
                  <h3>Social Link & Website</h3>
                </div>
              </div>
              <div class="link">
                  <div class="row generate_link">
                    <div class="col-md-3">
                      <label for="Lable">Lable</label>
                      <input type="text" class="form-control" id="generatecv_linkLable" name="linkLable" placeholder="Lable">
                    </div>
                    <div class="col-md-7">
                      <label for="Link">Link</label>
                      <input type="text" class="form-control" id="link" name="link" placeholder="Link">
                    </div>
                  </div>
              </div>
              <div class="row addLink">
                <div class="col">
                  <button type="submit" class="btn btn-light" id="addLink"><i class='fas fa-plus' style='font-size:30px;color:green'></i></button>
                </div>
              </div>

              <div class="row title languages">
                <div class="col">
                  <h3>Language</h3>
                </div>
              </div>
              <div class="language">
                <div class="row">
                  <div class="col-md-3">
                    <label for="Lable">Language</label>
                    <input type="text" class="form-control" id="languageLable" name="languageLable" placeholder="Language">
                  </div>
                  <div class="col-md-7">
                    <label for="Level">Level</label>
                    <input type="text" class="form-control" id="languageLevel" name="languageLevel" placeholder="Level">
                  </div>
                </div>
              </div>
              <div class="row addLanguage">
                <div class="col">
                  <button type="submit" class="btn btn-light" id="addLanguage"><i class='fas fa-plus' style='font-size:30px;color:green'></i></button>
                </div>
              </div>

              <div class="row title interests">
                <div class="col">
                  <h3>Interests</h3>
                </div>
              </div>
              <div class="interest">
                  <div class="row">
                    <div class="col-md-6">
                      <input type="text" class="form-control" id="interestLable" name="interestLable" placeholder="Interest">
                    </div>
                  </div>
              </div>
              <div class="addInterest">
                <div class="row">
                  <div class="col">
                    <button type="submit" class="btn btn-light" id="addInterest"><i class='fas fa-plus' style='font-size:30px;color:green'></i></button>
                  </div>
                </div>
              </div>

              <div class="row title experiences">
                <div class="col">
                  <h3>Experiences</h3>
                </div>
              </div>
              <div class=" experience">
                  <div class="row">
                    <div class="col-md-6">
                      <label for="Lable">Experience Lable</label>
                      <input type="text" class="form-control" id="experienceLable" name="experienceLable" placeholder="experienceLable">
                    </div>
                    <div class="col-md-6">
                      <label for="Period">Experience Period</label>
                      <input type="text" class="form-control" id="experiencePeriod" name="experiencePeriod" placeholder="experiencePeriod">
                    </div>
                    <div class="col-md-12">
                       <textarea  form="cv_form" class="form-control" id="experienceDescription"  name="experienceDescription" rows="3" placeholder="experienceDescription"></textarea>
                    </div>
                  </div>
              </div>
              <div class="row addExperience">
                <div class="col">
                  <button type="submit" class="btn btn-light" id="addExperience"><i class='fas fa-plus' style='font-size:30px;color:green'></i></button>
                </div>
              </div>

              <div class="row title projects">
                <div class="col">
                  <h3>Peojects</h3>
                </div>
              </div>
              <div class="project">
                  <div class="row">
                    <div class="col-md-2">
                      <label for="Project">Project</label>
                      <input type="text" class="form-control" id="projectLable" name="projectLable" placeholder="projectLable">
                    </div>
                    <div class="col-md-7">
                      <label for="projectDescription">projectDescription</label>
                       <textarea form="cv_form" class="form-control" id="projectDescription" name="projectDescription" rows="1" placeholder="Short Project Description"></textarea>
                    </div>
                    <div class="col-md-2">
                      <label for="projectLink">link</label>
                       <input class="form-control" id="projectLink" name="projectLink" rows="1" placeholder="link"></input>
                    </div>
                  </div>
              </div>
              <div class="row addProject">
                <div class="col">
                  <button type="submit" class="btn btn-light" id="addProject"><i class='fas fa-plus' style='font-size:30px;color:green'></i></button>
                </div>
              </div>

              <div class="row title educations">
                <div class="col">
                  <h3>Education</h3>
                </div>
              </div>
              <div class="education">
                  <div class="row">
                    <div class="col-md-2">
                      <label for="educationPeriod">EducationPeriod</label>
                      <input type="text" class="form-control" id="educationPeriod" name="educationPeriod" placeholder="Education Period">
                    </div>
                    <div class="col-md-5">
                      <label for="instituionName">Instituion Name</label>
                      <input type="text" class="form-control" id="instituionName" name="instituionName" placeholder="Instituion Name">
                    </div>
                    <div class="col-md-4">
                      <label for="Major">Major</label>
                      <input type="text" class="form-control" id="major" name="major" placeholder="Major">
                    </div>
                  </div>
              </div>
              <div class="row addEducation">
                <div class="col">
                  <button type="submit" class="btn btn-light" id="addEducation"><i class='fas fa-plus' style='font-size:30px;color:green'></i></button>
                </div>
              </div>

              <div class="form-group">
                <button type="submit" id="submitButton" class="btn btn-success btn-lg btn-block" value="upload" >submit</button>
              </div>
            </form>
          </div>
          <div class="col-md-5" id="realTime_review">
            <div class="rightcontainer h-100" style="zoom:70%">
              <div class="row cv-container">
                <div class="col-md-8 main-wrapper" style="zoom:70%">
                  <section class="generatecv_experiences" id="generatecv_experiences">
                    <h2><i class="fas fa-briefcase" style='font-size:36px'></i>EXPERIENCES</h2>
                  </section>
                  <section class="generatecv_projects">
                    <h2><i class="fas fa-gears" style='font-size:36px'></i>PROJECTS</h2>

                  </section>
                  <section class="generatecv_educations">
                    <h2><i class="fas fa-graduation-cap" style='font-size:36px'></i>EDUCATION</h2>
                  </section>
                </div>
                <div class="col-md-4 side-wrapper">
                  <div class="profile-container">
                    <h1 class="cv_name">  </h1>
                  </div>
                  <div class="contact-container">
                    <ul>
                      <li class="cv_email">
                        <a></a>
                      </li>
                      <li class="cv_phone">
                        <a></a>
                      </li>
                      <div class="cv_websites" >
                        <ul id="cv_websites"></ul>
                      </div>
                    </ul>
                  </div>
                  <div class="languages-container">
                    <h3>LANGUAGES</h3>
                    <ul id="cv_language">

                    </ul>
                  </div>
                  <div class="interest-container">
                    <h3>INTERESTS</h3>
                    <ul id="cv_interest">

                    </ul>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/generatecv.js"></script>
  <script type="text/javascript" src="vendor/logo.js"></script>
  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

  </script>

</body>

</html>
