<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="The intetnetRover Project@marstravel.fi">
  <meta name="author" content="Yunlong Liu">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InternetRover</title>
  <link href='../pictures/icon.ico' rel="shortcut icon">
  <link type="text/css" href="css/simple-sidebar.css" rel="stylesheet" >
  <link href="https://unpkg.com/tabulator-tables@4.6.3/dist/css/tabulator.min.css" rel="stylesheet">
  <link type="text/css" href="css/index.css" rel="stylesheet">
</head>
<body>
  <div class="wrapper">
    <% include ../commenComponents/header %>
    <!-- Page Content -->
    <main>
    <!-- headerSection -->
      <section class="headerSection" id="headerSection">
        <div id="headerBgVideo" class="welcome">
          <div class="welcome-container">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="welcome-content">
              <h1>Welcome</h1>
              <p>
                <br>
                Wramly welcome you visit my webpage.This is a place is implement my
                interested idea and help friend to solve some problems.
                The webpae is both for web developer or non-developer.
                <br>
                For Developer: Hope you can find useful component and give you some hints to create grate thigns.
                For Non-developer: Well, more info wait for you to discover.
              </p>
              <p style="font-size:100px">&#128540;</p>
            </div>
          </div>
          <div class="welcome-background">
            <video autoplay loop muted>
              <source src="videos/sea.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </section>

      <!-- coronaVirusAwareness -->
      <section class="coronaVirusAwareness" id="coronaVirusAwareness">
        <div class="section-tl">
          <h1 class="sectiontitle">Self Care</h1>
        </div>
        <div class="boxesContainer">
          <div class="box">
            <div class="content">
              <img src="pictures/indexImg/washing-hand.png" alt="washing-hand">
              <p>Washing hangds with soap and running water when hands touched something dirty.</p>
            </div>
            <div class="back">
              <p>
                if your hands are not visibly dirty,frequently clean then by using alcohol-based hand rub or soap and water.
              </p>
              <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">
                <button>Read More</button>
              </a>
            </div>
          </div>
          <div class="box">
            <div class="content">
              <img src="pictures/indexImg/cold.png" alt="cold">
              <p>
                When coughing ans sneezing, cover mouth and nose with flexed elbow or tissue.
                Throw tissue into closed bin immediately after use.
              </p>
            </div>
            <div class="back">
              <p>
                Cleaning yoiur hand with alcohol-based hand rup or soap and water after coughong or sneezing and when for the sick.
              </p>
              <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">
                <button>Read More</button>
              </a>
            </div>
          </div>
          <div class="box">
            <div class="content">
              <img src="pictures/indexImg/fever.png" alt="fever">
              <p>Monitor your temputure if you feel uncomfotable.</p>
            </div>
            <div class="back">
              <p>
                Monitor everyone's health for symptoms such as fever, cough and if difficult breathing appear, call your health care facility immediately.
              </p>
              <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">
                <button>Read More</button>
              </a>
            </div>
          </div>
          <div class="box">
            <div class="content">
              <img src="pictures/indexImg/shake-hands.png" alt="shake-hands">
              <p>Avoiding shaking hands seems become a polite greeting.</p>
            </div>
            <div class="back">
              <p>
                Respiratory virused can be passed by shaking hands
                and touching your eyes, nose and mouth. Greet people
                with a wave, a nod or a bow instead.
              </p>
              <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">
                <button>Read More</button>
              </a>
            </div>
          </div>
          <div class="box">
            <div class="content">
              <img src="pictures/indexImg/cooking.png" alt="cooking">
              <p>Eating healthy food to improve your immune system.</p>
            </div>
            <div class="back">
              <p>
                Strong immune system plays an important role at against
                virus. Prepareing healthy food, intake enough vitmin daily.
              </p>
              <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">
                <button>Read More</button>
              </a>
            </div>
          </div>
          <div class="box">
            <div class="content">
              <img src="pictures/indexImg/flight.png" alt="flight">
              <p>Avoiding unnecessary flights</p>
            </div>
            <div class="back">
              <p>
                Traveling spread virues faster than you imagine.
                Avoiding unnecessary flights can efficient slow down virus
                spreading.
              </p>
              <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">
                <button>Read More</button>
              </a>
            </div>
          </div>
          <div class="box">
            <div class="content">
              <img src="pictures/indexImg/medical-mask.png" alt="medical-mask">
              <p>Wearing medical mask if you can get one</p>
            </div>
            <div class="back">
              <p>
                Mask can protect you from other people coughing or sneezing.
                It also can protect others.
                it's to wear mask when you go to crowded place, such as 
                supermarket, library etc.
              </p>
              <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">
                <button>Read More</button>
              </a>
            </div>
          </div>
        </div>
      </section>

      <!-- copeWithStress -->
      <section class="copeWithStress" id="copeWithStress">
        <div class="section-tl">
          <h1 class="sectiontitle">Cope With Stress</h1>
        </div>
        <div class="copeItems">
          <div class="copeItem">
            <div class="close"></div>
            <div class="cardWrapper">
              <div>
                <img src="pictures/indexImg/chat.png" alt="chat">
                <div class="btnTl">
                  <h2>Chatting</h2>
                  <button>Read More</button>
                </div>
              </div>
              <div class="showMore">
                <h1>Chating with Friends</h1>
                <p>It is normal to feel sad, stressed, confused, scared or
                  angry during a crisis</p>
                <p>Talking to people you trust can help. Contact your
                  friends and family.</p>
              </div>
            </div>
          </div>
          <div class="copeItem">
            <div class="close"></div>
            <div class="cardWrapper">
              <div>
                <img src="pictures/indexImg/cinema.png" alt="cinema">
                <div class="btnTl">
                  <h2>Movies</h2>
                  <button>Read More</button>
                </div>
              </div>
              <div class="showMore">
                <h1>Enjoy Movies with Families</h1>
                <p>Limit worry and agitation by lessening the time you</p>
                <p> and your family spend watching or listening to media</p>
                <p>coverage that you perceive as upsetting.</p>
              </div>
            </div>
          </div>
          <div class="copeItem">
            <div class="close"></div>
            <div class="cardWrapper">
              <div>
                <img src="pictures/indexImg/vegetable.png" alt="vegetable">
                <div class="btnTl">
                  <h2>Cooking</h2>
                  <button>Read More</button>
                </div>
              </div>
              <div class="showMore">
                <h1>Spend Time on Cooking</h1>
                <p>If you must stay at home, maintain a healthy lifestyle -</p>
                  <p>including proper diet, sleep, exercise and social contacts</p>
                  <p>with loved ones at home and by email and phone with</p>
                  <p>other family and friends.</p>
              </div>
            </div>
          </div>
          <div class="copeItem">
            <div class="close"></div>
            <div class="cardWrapper">
              <div>
                <img src="pictures/indexImg/online-course.png" alt="online-course">
                <div class="btnTl">
                  <h2>Learning</h2>
                  <button>Read More</button>
                </div>
              </div>
              <div class="showMore">
                <h1>Learning New Skills</h1>
                <p>Learning some new skills if you have much time to stay at home.</p>
                <p>Spend much time to learning new things can help you</p>
                <p>forget what is going on now. Haa, just a kidding.</p>
                <p>Learning new things can always makes you fell excitng.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- personal projects -->
      <section class="personalPrj" id="personalPrj">
        <div class="section-tl">
          <h1 class="sectiontitle">Portfolio</h1>
        </div>
        <div class="cardsWrapper">
          <a href="/dashboard">
            <div class="cardPjt">
              <h2>Dashboard</h2>
              <p>Dashboard is a a place i implement my hobby project</p>
            </div>
          </a>
          <a href="/contact">
            <div class="cardPjt">
              <h2>Contact</h2>
              <p>Contact is a contacts management app which is allow user to create account and manipulate contacts</p>
            </div>
          </a>
          <a href="/news">
            <div class="cardPjt">
              <h2>News</h2>
              <p>A onGoing project to scrape interesting news. If news does not display, it means it is blocked.</p>
            </div>
          </a>
          <a href="/generatecv">
            <div class="cardPjt">
              <h2>Generate CV</h2>
              <p>Fill information addording to promotion, then click submit. It will generate cv with template.</p>
            </div>
          </a>
          <a href="/wordcloud">
            <div class="cardPjt">
              <h2>Word Cloud</h2>
              <p>Word Cloud ismy thesis IT project which use my own algorightm, later on i will display on Google map with selected city or country shape.</p>
            </div>
          </a>
          <a href="/blog">
            <div class="cardPjt">
              <h2>Blog</h2>
              <p>Blog is a simple blog that user can post and review blogs.</p>
            </div>
          </a>
        </div>
      </section>
      <section style="width: 100vw; height:100vh;" id="live_convid_section">
        <div class="section-tl">
          <h1 class="sectiontitle">Live CONVID-19</h1>
        </div>
        <div class="total_convid" id="total_convid">
        </div>
        <div id="example-table"></div>
      </section>
    </main>
  </div>

  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.6.3/dist/js/tabulator.min.js"></script>
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/simple-sidebar.js"></script>
  <script type="text/javascript" src="../vendor/index.js"></script>
  <script>
    $(document).ready(function() {
      // page loading flash
      $("body").fadeIn(1000);
      $("body").css('display', 'flex')
    });
  </script>
</body>
</html>
