<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="The intetnetRover Project@marstravel.fi">
  <meta name="author" content="Yunlong Liu">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InternetRover</title>
  <link rel="shortcut icon" href='../pictures/icon.ico'>
  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Icon -->
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  <!-- Custom styles for this template -->
  <link href="css/simple-sidebar.css" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet">
</head>

<body>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading" id="logo">
        <canvas id="canvas" width="280" height="90"></canvas>
      </div>
      <div class="list-group list-group-flush">
        <a href="/dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a href="/contact" class="list-group-item list-group-item-action bg-light">Contact</a>
        <a href="/news" class="list-group-item list-group-item-action bg-light">News</a>
        <a href="/generatecv" class="list-group-item list-group-item-action bg-light">generateCv</a>
        <a href="/wordcloud" class="list-group-item list-group-item-action bg-light">WordCloud</a>
        <a href="/blog" class="list-group-item list-group-item-action bg-light">Blog</a>
        <a href="/about" class="list-group-item list-group-item-action bg-light">About</a>
      </div>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">
          <i class="fa fa-navicon" style="font-size:20px"></i>
        </button>
      </nav>
      <div class="" style="text-align: center">
        <canvas id="indeximage_canvas" width="800" height="450"></canvas>
      </div>
      <div style="text-align: center">
        <canvas id="typingcanvas"></canvas>
      </div>
      <div class="d-flex flex-row justify-content-center">
          <div class="p-2 zoom zoom1" id="zoom1">
            <div class="hiddenText">
              <img src="pictures/Hermanus.JPG" id="gao">
            </div>
          </div>
          <div class="p-2 zoom zoom2" >
            <div class="hiddenText">
              <img src="pictures/Hermanus.JPG" alt="" id="gao">
            </div>
          </div>
          <div class="p-2 zoom zoom3" >
            <div class="hiddenText">
            <img src="pictures/Hermanus.JPG" id="gao">
            </div>
          </div>
          <div class="p-2 zoom zoom4">
            <div class="hiddenText">
              <img src="pictures/Hermanus.JPG" id="gao">
            </div>
          </div>
          <div class="p-2 zoom zoom5">
            <div class="hiddenText">
              <img src="pictures/Hermanus.JPG" id="gao">
            </div>
          </div>
          <div class="p-2 zoom zoom6">
            <div class="hiddenText">
             <img src="pictures/Hermanus.JPG" id="gao">
            </div>
          </div>
        </div>

  </div>
  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="../vendor/logo.js"></script>
  <script type="text/javascript" src="../vendor/index.js"></script>
  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

  </script>
</body>

</html>
