<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>globuzzerLandingPage</title>
<link rel="stylesheet" href="css/ourServices.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">


</head>
<body>
<div class="wrapper">
  <div class="side-menu-mobile">
    <div class="side-menu-mobile-menu">
      <p>MENU</p>
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
        <img src="pictures/gb/side-menu-mobile-delete.svg" alt="side-menu-mobile-delete">
      </a>
    </div>
    <a class="side-menu-mobile-item" href="#">Destinations</a>
    <a class="side-menu-mobile-item" href="#">Videos</a>
    <a class="side-menu-mobile-item" href="#">Articles</a>
    <a class="side-menu-mobile-item" href="#">Login / Sign in </a>
  </div>
  <div class="header">
    <div class="navBar">
      <div class="logo">
        <img src="pictures/gb/globuzzer_logo.svg" alt="globuzzer_logo">
      </div>
      <nav class="menu">
        <ul>
          <li><a class="nav-link" href="#">Destination</a></li>
          <li><a class="nav-link" href="#">Videos</a></li>
          <li><a class="nav-link" href="#">Articels</a></li>
          <li><a class="nav-link" href="#">Services</a></li>
          <li><img src="pictures/gb/icons8-search-50.svg" alt="icon-search"></li>
          <li class="login"><a class="login" href="#">Login/Sign up</a></li>
        </ul>
      </nav>
      <a href="#" class="menu-icon-mobile">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <rect width="28" height="28" fill="url(#pattern0)"/>
          <defs>
            <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
              <use xlink:href="#image0" transform="scale(0.02)"/>
            </pattern>
            <image id="image0" width="50" height="50" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAADmwAAA5sBPN8HMQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAA1SURBVGiB7dbBDQAgDMSwwv47H0sgWiR7gjxTBQDUSpLuiBt2dwAAADxj4wEA4Ds2HgAY6ADNuAv+boxFaAAAAABJRU5ErkJggg=="/>
          </defs>
        </svg></a>
    </div>
    <div class="backgroundImage">
      <div class="bg-gradient"></div>
      <div class="header-content-card">
        <p>OUR SERVICES</p>
        <p>ENGAGE BETTER WITH YOUR AUDIENCE</p>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>See our PLANS</p>
      </div>
    </div>
  </div>
  <div class="reasons">
    <div class="high-revenues">
      <div class="">
        <img src="pictures/gb/icons8-account.svg" alt="icons8-account">
        <p class="reasons-title">High revenues</p>
      </div>
      <p class="reasons-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="success-guaranteed">
      <div class="">
        <img src="pictures/gb/icons8-ok.svg" alt="icons8-ok">
        <p class="reasons-title">Success guaranteed</p>
      </div>
      <p class="reasons-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="get-more-users">
      <div class="">
        <img src="pictures/gb/icons8-people.svg" alt="icons8-people">
        <p class="reasons-title">Get more users</p>
      </div>
      <p class="reasons-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="our-plans">
    <p class="our-plans-title">Our plans</p>
    <hr class="horizon-line">
    <div class="our-plans-content">
      <div class="plan">
        <div class="plan-top-rec basic-plan"></div>
        <div class="plan-middle-rec">
          <p class="plan-title">BASIC</p>
          <ul class="plan-content">
            <li>
              <img src="pictures/gb/icons8-checkmark.svg" alt="icons8-checkmark">
              Insights access
            </li>
            <li>
              <img src="pictures/gb/icons8-checkmark.svg" alt="icons8-checkmark">
              Copywriting
            </li>
            <li>
              <img src="pictures/gb/icons8-checkmark.svg" alt="icons8-checkmark">
              Guidelines given
            </li>
            <li>
              <img src="pictures/gb/icons8-checkmark.svg" alt="icons8-checkmark">
              Keywords manager
            </li>
            <li>
              <img src="pictures/gb/icons8-delete.svg" alt="icons8-delete">
              Positioning in site
            </li>
            <li>
              <img src="pictures/gb/icons8-delete.svg" alt="icons8-delete">
              SEO optimization
            </li>
          </ul>
          <p class="plan-btn">GO</p>
        </div>
        <img class="plan-left-tri" src="pictures/gb/basic-plan-left-tri.svg" alt="plan-one-left-tri">
        <img class="plan-bottom-rec" src="pictures/gb/basic-plan-bottom-rec.svg" alt="">
        <div class="plan-price">
          <p>Starting from</p>
          <p>€3.99 / month</p>
        </div>
      </div>
      <div class="plan">
        <div class="plan-top-rec standard-plan"></div>
        <div class="plan-middle-rec">
          <p class="plan-title">BASIC</p>
          <ul class="plan-content">
            <li>
              <img src="pictures/gb/icons8-checkmark.svg" alt="icons8-checkmark">
              Insights access
            </li>
            <li>
              <img src="pictures/gb/icons8-checkmark.svg" alt="icons8-checkmark">
              Copywriting
            </li>
            <li>
              <img src="pictures/gb/icons8-checkmark.svg" alt="icons8-checkmark">
              Guidelines given
            </li>
            <li>
              <img src="pictures/gb/icons8-checkmark.svg" alt="icons8-checkmark">
              Keywords manager
            </li>
            <li>
              <img src="pictures/gb/icons8-delete.svg" alt="icons8-delete">
              Positioning in site
            </li>
            <li>
              <img src="pictures/gb/icons8-delete.svg" alt="icons8-delete">
              SEO optimization
            </li>
          </ul>
          <p class="plan-btn">GO</p>
        </div>
        <img class="plan-left-tri" src="pictures/gb/standard-plan-left-tri.svg" alt="basic-plan-left-tri">
        <img class="plan-bottom-rec" src="pictures/gb/standard-plan-bottom-rec.svg" alt="standard-plan-bottom-rec">
        <div class="plan-price">
          <p>Starting from</p>
          <p>€3.99 / month</p>
        </div>
      </div>
      <div class="plan">
        <div class="plan-top-rec premium-plan"></div>
        <div class="plan-middle-rec">
          <p class="plan-title">BASIC</p>
          <ul class="plan-content">
            <li>
              <img src="pictures/gb/icons8-checkmark.svg" alt="icons8-checkmark">
              Insights access
            </li>
            <li>
              <img src="pictures/gb/icons8-checkmark.svg" alt="icons8-checkmark">
              Copywriting
            </li>
            <li>
              <img src="pictures/gb/icons8-checkmark.svg" alt="icons8-checkmark">
              Guidelines given
            </li>
            <li>
              <img src="pictures/gb/icons8-checkmark.svg" alt="icons8-checkmark">
              Keywords manager
            </li>
            <li>
              <img src="pictures/gb/icons8-delete.svg" alt="icons8-delete">
              Positioning in site
            </li>
            <li>
              <img src="pictures/gb/icons8-delete.svg" alt="icons8-delete">
              SEO optimization
            </li>
          </ul>
          <p class="plan-btn">GO</p>
        </div>
        <img class="plan-left-tri" src="pictures/gb/premium-plan-left-tri.svg" alt="plan-left-tri">
        <img class="plan-bottom-rec" src="pictures/gb/premium-plan-bottom-rec.svg" alt="">
        <div class="plan-price">
          <p>Starting from</p>
          <p>€3.99 / month</p>
        </div>
      </div>
      <div class="plan">
        <div class="plan-top-rec premium-plan"></div>
        <div class="plan-middle-rec">
          <p class="plan-title">BASIC</p>
          <ul class="plan-content">
            <li>
              <img src="pictures/gb/icons8-checkmark.svg" alt="icons8-checkmark">
              Insights access
            </li>
            <li>
              <img src="pictures/gb/icons8-checkmark.svg" alt="icons8-checkmark">
              Copywriting
            </li>
            <li>
              <img src="pictures/gb/icons8-checkmark.svg" alt="icons8-checkmark">
              Guidelines given
            </li>
            <li>
              <img src="pictures/gb/icons8-checkmark.svg" alt="icons8-checkmark">
              Keywords manager
            </li>
            <li>
              <img src="pictures/gb/icons8-delete.svg" alt="icons8-delete">
              Positioning in site
            </li>
            <li>
              <img src="pictures/gb/icons8-delete.svg" alt="icons8-delete">
              SEO optimization
            </li>
          </ul>
          <p class="plan-btn">GO</p>
        </div>
        <img class="plan-left-tri" src="pictures/gb/premium-plan-left-tri.svg" alt="plan-one-left-tri">
        <img class="plan-bottom-rec" src="pictures/gb/premium-plan-bottom-rec.svg" alt="">
        <div class="plan-price">
          <p>Starting from</p>
          <p>€3.99 / month</p>
        </div>
      </div>
    </div>
  </div>
  <!--fotter page-->
  <div class="footer">
    <div class="col-1">
      <img src="pictures/gb/globuzzer_logo_footer.svg" alt="globuzzer_logo_footer">
      <div class="address">
        <ul>
          <li>Skyttevägen 29, Saltsjöbaden, Sweden</li>
          <li>+46 73 555 5 134</li>
          <li>info@globuzzer.com</li>
        </ul>
      </div>
      <figcaption id="figcaption-desktop">&copy 2019 Globuzzer. All rights reserved</figcaption>
      <figcaption id="figcaption-mobile">&copy 2019 Globuzzer</figcaption>
    </div>
    <div class="col-2">
      <ul>
        <li>
          <a href="#"> Destinations</a>
        </li>
        <li>
          <a href="#"> Videos</a>
        </li>
        <li>
          <a href="#"> Articles</a>
        </li>
        <li>
          <a href="#"> Services</a>
        </li>
        <li>
          <a href="#"> Log in / Sign up </a>
        </li>
      </ul>
    </div>
    <div class="col-3">
      <ul>
        <li>
          <a href="#"> About Globuzzer</a>
        </li>
        <li>
          <a href="#"> Contact us</a>
        </li>
        <li>
          <a href="#"> For companies </a>
        </li>
      </ul>
    </div>
    <div class="col-4">
        <p href="#">FOLLOW US</p>
        <ul class="social-media-list">
          <li><a href="#">
            <img src="pictures/gb/fb.svg" alt="">
          </a>
          </li>
          <li><a href="#">
            <img src="pictures/gb/twitter.svg" alt="">
          </a>
          </li>
          <li><a href="#">
            <img src="pictures/gb/pinterest.svg" alt="">
          </a>
          </li>
        </ul>
    </div>
  </div>
</div>

</body>
</html>
