<!DOCTYPE html>
<html>
<body>
<!--I am just a tets message-->
<canvas id="drawingcanvas1" width="650" height="433" style="border:1px solid red;"></canvas>
<canvas id="drawingcanvas2" width="500" height="500" style="border:1px solid red;"></canvas>
<canvas id="drawingcanvas3" width="500" height="500" style="border:1px solid red;"></canvas>
<canvas id="canvas" width="650" height="433"></canvas>
<button type="button" name="button" id="button"></button>
<script src="../vendor/thesis.js"></script>
</body>
</html>
