<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="The intetnetRover Project@marstravel.fi">
  <meta name="author" content="Yunlong Liu">

  <title>InternetRover</title>
  <link rel="shortcut icon" href='../pictures/icon.ico'>
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <style>
    #page-content-wrapper{
      width: 100%;
    }
    .mt-4{
      text-align: center;
    }
  </style>
</head>
<body>

  <div class="d-flex" id="wrapper">
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <h1 class="mt-4">Word Cloud</h1>
        <div class="wordcloud" style="width:60%;">
          <div class="can">
            <canvas id = 'playingFieldCanvas' width="700" height="700" style="border:1px solid #d3d3d3;margin-left:30%;margin-right:30%;"></canvas>
          </div>
          <div  style="margin-left:10%">
              <textarea name="texts" cols="120" rows="5"id="textarea" placeholder="Copy and Paste some texts and try out!!"></textarea>
              <button type="button" id="generateButton" onclick="generateWordCloud()" style="margin-left:60%;">Generate</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- compromise -->
  <script src="https://unpkg.com/compromise@latest/builds/compromise.min.js"></script>
  <script type="text/javascript" src="../vendor/wordcloud.js"></script>
  <script type="text/javascript" src="vendor/logo.js"></script>
  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
