<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

</head>

<body style = "background-color: #f0f0f5;">
  <div>
    <div class="" style = "margin-top:25%;text-align: center">
      <div class="content" style="background-color: green; text-align: center;font-size:30px">
              <h1>404, Page Not Found</h1>
        <p>sorry the page you are tying to looking for can not be reached.</p>
        <p>It might be removed or changed name, etc</p>
        <p>Please check address carefully or go back to <a href="https://internetrover.herokuapp.com/">home </a> page</p>
      </div>
    </div>
  </div>
</body>

</html>
