<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>InternetRover</title>
  <link rel="shortcut icon" href='../pictures/icon.ico'>
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Icon -->
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="css/simple-sidebar.css" rel="stylesheet">
  <link href="css/cv.css" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container h-100">
        <div class="row cv-container">
          <div class="col-md-8 main-wrapper">
            <section class="experience">
              <h2><i class="fas fa-briefcase" style='font-size:36px'></i>EXPERIENCES</h2>
              <div class="d-flex flex-row Word Cloud On Map">
                <div class="p-2"><h4>Word Cloud On Map</h4></div>
                <div class="p-2 ml-auto"><p> 2018-present </p></div>
              </div>
              <p class="Word Cloud On Map">
                This is my Master Thesis in University of Eastern Finland.
                Word Cloud On Map is a great visulization component in Mopsi project to count users' data,
                and plot Word Cloud on Google Map. My responsibility is develop the component.
                </p>
              <div class="d-flex flex-row InternetRover">
                <div class="p-2"><h4>InternetRover</h4></div>
                <div class="p-2 ml-auto"><p> 2019 - present </p></div>
              </div>
              <p>
                <a href="https://internetrover.herokuapp.com/index">InternetRover</a>
                 is a web application that developed by myself to host perosnal hobbies.
                 Backend:Express+MongoDB+Nodejs; Backend Architectture:MVC
                 Frontend: Bootstrap+JS; Frontend Architectture:(MVC will be applied).
               </p>

              <div class="d-flex flex-row MarsTravel">
                <div class="p-2"><h4>Founder of MarsTravel</h4></div>
                <div class="p-2 ml-auto"><p> 2017 - 2019 </p></div>
              </div>
              <p>
                MarsTravel is IT start up to website and web application for small size entrepreneur.
              </p>
              <div class="d-flex flex-row TangMen">
                <div class="p-2"><h4>Founder of TangMen Restaurtant</h4></div>
                <div class="p-2 ml-auto"><p> 2017 - 2018 </p></div>
              </div>
            </section>
            <section class="projects">
              <h2><i class="fas fa-gears" style='font-size:36px'></i>PROJECTS</h2>
              <div class="d-flex flex-row wordCloud on Mopsi">
                <div class="p-2">
                  <h4>
                  <a href="http://cs.uef.fi/mopsi/">wordCloud</a>
                  </h4>
                </div>
                <div class="p-2">
                  <p>
                    A component to collect data from users
                    and plot Word Cloud on Google Map.
                  </p>
                </div>
              </div>
              <div class="d-flex flex-row InternetRover">
                <div class="p-2">
                  <h4>
                  <a href="https://internetrover.herokuapp.com/index">
                    InternetRover
                  </a>
                  </h4>
                </div>
                <div class="p-2">
                  <p>
                      Web application to host personal hobbies.
                  </p>
                </div>
              </div>
              <div class="d-flex flex-row TruckSafety App">
                <div class="p-2">
                  <h4>
                  <a href="">
                    TruckSafety
                  </a>
                  </h4>
                </div>
                <div class="p-2">
                  <p>
                    Android application to detect speed and temperature of truck's tire.
                  </p>
                </div>
              </div>
            </section>
            <section class="education">
              <h2><i class="fas fa-graduation-cap" style='font-size:36px'></i>EDUCATION</h2>
              <div class="d-flex flex-row">
                <div class="p-2"><p>2011-2013</p></div>
                <div class="p-2"><p> Information Technology</p></div>
                <div class="p-2"><p> West Anhui University</p></div>
              </div>
              <div class="d-flex flex-row">
                <div class="p-2"><p>2013-2015</p></div>
                <div class="p-2"><p> Information Technology</p></div>
                <div class="p-2"><p> Savonia University Of Applied Science</p></div>
              </div>
              <div class="d-flex flex-row">
                <div class="p-2"><p>2015-present</p></div>
                <div class="p-2"><p> Conmuter Science </p></div>
                <div class="p-2"><p>  University Of Eastern Finland</p></div>
              </div>
            </section>
          </div>
          <div class="col-md-4 side-wrapper">
            <div class="profile-container">
              <img src="../pictures/long.png" class="img-fluid" alt="">
              <h1 class="name"> Yunlong Liu</h1>
            </div>
            <div class="contact-container">
              <ul>
                <li class="email">
                  <i class='fas fa-mail-bulk'></i>
                  <a href="mailto:yunlong.a.liu@gmail.com">yunlong.a.liu@gmail.com</a>
                </li>
                <li class="phone">
                  <i class='fas fa-phone'></i>
                  <a>0442362960</a>
                </li>
                <li class="webpage">
                  <i class='fas fa-globe'></i>
                  <a href="https//:internetrover.herokuapp.com/cv">internetrover.herokuapp.com/cv</a>
                </li>
                <li class="linkedin">
                  <i class='fab fa-linkedin-in'></i>
                  <a href="https://linkedin.com/in/yunlong-liu-a66a29b9">linkedin.com/in/yunlong-liu-a66a29b9</a>
                </li>
                <li class="github">
                  <i class='fab fa-github'></i>
                  <a href="https://github.com/MARSTRAVEL">https://github.com/MARSTRAVEL</a>
                </li>

              </ul>
            </div>
            <div class="languages-container">
              <h2>LANGUAGES</h2>
              <ul>
                <li>Chinese(Native)</li>
                <li>English(Good)</li>
                <li>Finnihs(Basic)</li>
              </ul>
            </div>
            <div class="interest-container">
              <h2>INTERESTS</h2>
              <ul>
                <li>Cycling</li>
                <li>Hiking</li>
                <li>Badminton</li>
                <li>Table Tennis</li>
              </ul>
            </div>
          </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
