<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>InternetRover</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/simple-sidebar.css" rel="stylesheet">
  <link href="css/login.css" rel="stylesheet">
</head>

<body>
  <!-- Page Content -->
  <div class="container">
    <div class="">
      <p>
      <%= message%></p>
    </div>
    <form class="form_login" role="form" method="post">
            <div class="form-group" id="username">
                <label class="col-sm-3 control-label" for="userName">Username</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="userName" name="userName" placeholder="userName" required>
                </div>
            </div>
            <div class="form-group" id="password">
                <label class="col-sm-3 control-label" for="passWord">password</label>
                <div class="col-sm-12">
                    <input type="password" class="form-control" id="passWord" name="passWord" placeholder="passWord" required>
                </div>
            </div>
            <div class="form-group" id="login_button">
                <div >
                    <button type="submit" class="login_button btn-primary">login</button>
                    <a type="button" class="register_button btn-link btn-sm" href="register">register</a>
                </div>
            </div>
    </form>
</div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>

  </script>
</body>

</html>
