.container{
  height:100%;
}

.container .row{
  height:100vh;
}

#showblog{
  height: 100vh;
}
#showpost{
  height: 100vh;
}
.blog-title{
  height:100%;
  overflow-y: scroll;
}
.blog-detail{
  height:100%;
  overflow-y: scroll;
}
.posttitle{
  font-size: 20px;
}
.post-subtitle{
  font-size: 15px;
}
p {
  line-height: 1;
}

p a {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: #212529;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

::-moz-selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none;
}


.post-preview > a {
  color: #212529;
}

.post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: #cc6699;
}

.post-preview > .post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
}

.post-preview > .post-meta > a {
  text-decoration: none;
  color: #212529;
}

.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
  text-decoration: underline;
  color: #0085A1;
}
/*Remove the scrollbar from Chrome, Safari, Edge and IE*/
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

* {
  -ms-overflow-style: none !important;
}

@media only screen and (max-width: 768px) {

#showblog{
  height: 100vh;
}
.posttitle{
  font-size: 15px;
}
.post-subtitle{
  font-size: 10px;
}
.post-preview > .post-meta {
  font-size: 10px;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
}
}
