body{
  background: radial-gradient(ellipse at center, rgba(62,59,102,1) 0%,rgba(0,0,0,1) 100%);
  transition: 1s;
}
/* description */
.dashboardDes{
  position: relative;
  width: 100vw;
}
.dashboardDes article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.dashboardDes hr{
  width: 30px;
  height: 0px;
  border: 1px red solid;
}
.dashboardDes h1{
  font-size: 30px;
}
.dashboardDes p{}
#wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#page-content-wrapper{
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 1440px;
  min-height: min(100vh, 400px);
}
.container-fluid{
  padding-top: 60px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.row{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}
/* to do list */
  .container_todolist{
    height: 500px;
    width: 100vw;
    max-width: 500px;
    background: rgba(62,59,102,.3);
    border-radius: 20px;
  }
  .todoContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    padding: 0 10px;
  }
  .todoContent h4{
    color: aliceblue;
  }
  #todo li {
    position: relative;
    font-size: 18px;
    transition: 0.2s;
    border: solid;
    border-radius: 15px;
    border-color: rgb(255, 117, 26);
    margin-top: 2px;
    background-color: rgb(255, 117, 26);
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
  }
  #doing li {
    position: relative;
    font-size: 18px;
    transition: 0.2s;
    border: solid;
    border-radius: 15px;
    list-style-type: none;
    border-color: rgb(179, 179, 255);
    margin-top: 2px;
    background-color: rgb(179, 179, 255);
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  #done li {
    position: relative;
    font-size: 18px;
    transition: 0.2s;
    border: solid;
    border-radius: 15px;
    border-color: rgb(46, 184, 46);
    margin-top: 2px;
    background-color: rgb(46, 184, 46);
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  ul li:hover {
    background: rgb(26, 140, 255);
  }
  
  .todolist {
    margin: 0;
    padding: 0;
    height: 174px;
    list-style-type: none;
    overflow-y: auto;
  }

  /* weather */
.container_weather{
  width: 100%;
  max-width: 200px;
  height: 400px;
}

.todoHeader {
  height: 100px;
  background-color: #FF9800;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  text-align: center;
  position:relative;
}
.todoHeader h2{
padding: 10px 0;
}
.todoHeader button{
  width: 15%;
  height: 25px;
  border: 3px #f0f0f0 solid;
  border-radius: 20px;
  cursor: pointer;
}
.todoHeader input{
  width: 40%;
  height: 20px;
  border: 3px #f0f0f0 solid;
  border-radius: 20px;
  padding-left: 10px;

}

.weatherTl{
  display: flex;
  justify-content: center;
  height: 40px;
}
.weatherTl input{
  width: 100%;
  padding-left: 1em;
}
#temp, #humidity-div {
  font-family: "Courier New";
  font-weight: bold;
  font-size: 60px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#city-name {
  font-family: "Courier New";
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
#main{
  position: relative;
  display: flex;
  width: 100%;
  height: calc(100% - 40px);
}
#current_weather{
  font-size: 15px;
}
#current_weather, .weatherTl input{
  border: none;
}
.tem-lf{
  width: 50%;
  height: 100%;
  background: #fc85ae;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 0 10px;
}
.tem-rg{
  width: 50%;
  height: 100%;
  background: #9e579d;
  border-radius: 0 0 10px 0;
  padding-left: 10px;
  color: white;
}
.tempItem{

}
#search-btn {
  width: 40px;
  height:40px;
  color: #eee;
}

#search-txt {
  color: red;
  height:30px;
  border-radius: 10px;
  border-style:none;
  outline:none;
  padding-right:1px;
  padding-left:1px;
  text-align:center;
}

.search {
  position: absolute;
  left: 50%;
  top:50%;
  -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
}


.info{
  border-style: outset;
  border-color: green;
  height: 40px;
}
.dashboard_row{
  position: relative;
  width: 90%;
  border-style: groove;
  border-color: rgb(0, 0, 255, 0.5);
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.d-flex{
  display: flex;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  color: white;
  padding: 10px;
}
.p-2.timeSerie{
  cursor: pointer;
}
@media (max-width: 767px) {
  .container_todolist{
    height: 100vh;
  }
}