.generatecv_content{
width:100%;
}

.title{
  margin-top: 3%;
}
.side_wrapper{
margin-left: 0;
}

.side-wrapper ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.side-wrapper div{
 margin-top: 10%;
}

.side-wrapper li{
  padding-top: 3%;
}

.experience{
  margin-top: 5%;
}
#realTime_review{
  background-color:#A9A9A9;
  width: 100%;
}
.cv-container{
  background-color: white;
  height: 100%;
}
