* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  outline: none !important;
}
body {
  overflow-x: hidden;
}
a {
    text-decoration: none;
}
li{
  list-style: none;
}
.section-title{
  width: 550px;
  height: 65px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 42px;
  line-height: 51px;
  text-align: center;
  color: #555555;
}
@media screen and (max-width: 600px){
  .section-title{
    font-size: 24px;
    line-height: 29px;
  }
}
.horizon-line{
  width: 36px;
  border: 2px solid #F24B6A;
}

.wrapper{
  position: absolute;
  width: 100%;
  overflow-x: hidden;
}
.header{
  position: relative;
  height: 76vh;
  min-height: auto;
  overflow: hidden;
  max-height: 950px;
}

.side-menu-mobile{
  display: none;
  width: 160px;
  position: fixed;
  right: 0;
  z-index: 12;
  overflow-x: hidden;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
}
.side-menu-mobile-menu{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.side-menu-mobile-menu p{
  width: 130px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #F24B6A;
}
.side-menu-mobile-item{
  display: block;
  height: 36px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #5A5A5A;
}
.side-menu-mobile .closebtn{
  width: 36px;
  height: 36px;
}
.side-menu-mobile .closebtn:hover{
  color: #f1f1f1;
}

.navBar{
  width: calc(100% - 86px);
  width: -webkit-calc(100% - 86px);
  left: 43px;
  padding-top: 25px;
  padding-bottom: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
  position: fixed;
  z-index: 10;
}
.logo{
  z-index: 10;
  align-items: center;
  display: flex;
}
.logo img{
  padding-left: 20px;
}
.menu{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  height: 29px;
  padding-right: 32px;
}
.menu ul{
  width: 35rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.menu ul li{
  list-style: none;
}
.menu ul li a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.45px;
  line-height: 110%;
  align:left;
  vertical-align: top;
  color: white;
}
.login{
  border: 1px solid #FFFFFF;
  border-radius: 15px;
  height: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 134.09%;
  /* or 17px */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 140px;
}
.menu-icon-mobile{
  display: none;
}
@media screen and (max-width: 600px) {
  .menu{
    display: none;
  }
  .logo img{
    margin-left: 15px;
    width: 194px;
    height: 28px;
    padding-left: 0;
  }
  .menu-icon-mobile{
    z-index: 10;
    display: block;
  }
  .navBar{
    width: 100%;
    margin-left: 0;
    padding-top: 19px;
    padding-bottom: 16px;
  }
}

.backgroundImage{
  position: absolute;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('images/meetnewpeople.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.bg-gradient{
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: linear-gradient(rgba(134, 134, 134, 0.6), rgb(0, 0, 0));
}

.header-content-card{
    position: relative;
    display: -webkit-box;
    display: flex;
    z-index: 4;
    width: 95%;
    max-width: 950px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.header-content-text{
  position:relative;
  text-align: center;
  max-width: 731px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  /* or 55px */
  text-transform: uppercase;
  color: #FFFFFF;
}
.search-form{
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  position: absolute;
  width: 66vw;
  max-width: 950px;
  margin-top: 100px;
  height: 65px;
  background: #F9F9F9;
  border: 1px solid #C3C3C3;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  }
.search-form-input-container{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}
.search-form-input-container img{
    width: 36px;
    height: 36px;
    margin-left: 22px;
}
.search-form-input{
  width: 100%;
  background: #F9F9F9;
  border-radius: 0 25px 25px 0;
  border:none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 134.09%;
  /* or 27px */
}

@media screen and (max-width: 600px){
  .header-content-text{
    font-size: 18px;
  }
  .search-form{
    max-width: 300px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0;
  }

  .search-form-input-container img{
      width: 16px;
      height: 16px;
      margin-left: 14px;
  }
  .search-form-input{
    font-size: 12px;
    margin-left: 20px;
  }
}

.joinUs{
  display: flex;
  width: 100%;
  margin-top: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.joinUs-title{
  display: flex;
  align-items: center;
  text-align: center;
  width: 90%;
  max-width: 731px;
  height: 110px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 146.28%;
  /* or 44px */
  color: #909090;
}
.joinUs-bt{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 180px;
  height: 75px;
  background: #F24B6A;
  border-radius: 15px;
}
.joinUs-bt a{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
@media screen and (max-width: 600px){
  .joinUs{
      margin-top: 40px;
  }
  .joinUs-title{
    font-size: 16px;
  }
  .joinUs-bt{
    width: 120px;
    height: 45px;
  }
  .joinUs-bt a{
    font-size: 14px;
    line-height: 17px;
  }
}

.findYourDestination{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 97px;
}

/* Slideshow container */
.slideshow-container {
	width: 80vw;
  position: relative;
  margin-top: 68px;
}
.img_container{
  display: flex;
  flex-direction: row;
}
.city_img {
  position: relative;
	display:none;
}
.background-gradient{
  background-color: Black;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 436px;
  opacity: 0.25;
}
.city_img img{
  height: 436px;
  object-fit: cover;
  width: 100%;
  max-width:400px;
}

.fd-card-content{
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  width: 100%;
  height: 50%;
  z-index: 3;
  top:40%;
}

.fd-card-content-title{

  font-size: 30px;
  line-height: 37px;
  color: white;
}
.fd-card-content-members{

  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}
.fd-card-content-explore {
  margin-top: 5vh;
}
.fd-card-content-explore a{
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  padding: 10px;
  bottom: 12px;
}
/* Next & previous buttons */
.prev, .next {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.6s ease;
  user-select: none;
}
.prev{
  position: absolute;
  left:-2.5%;
  top: 40%;
  z-index: 4;
}
.next{
  position: absolute;
  right:-2.5%;
  top: 40%;
  z-index: 4;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

@media screen and (max-width: 1000px) {
  .slideshow-container{
    width: 100vw;
  }

	.prev, .next{
		display: none;
	}
  .img_container{
		overflow: auto;
		white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
  }
  .city_img{
    display: block;
  }
  .city_img img{
		display:block;
		height: 380px;
    width: 33vw;
	}

  .fd-card-content-members{
    display: none;
  }
  .fd-card-content-title{
    font-size: 18px;
    line-height: 22px;
  }
  .fd-card-content-explore a{
    font-size: 13px;
  }
}

.feateredVideos{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.feateredVideos-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 430px;
  padding-top: 40px;
}

.feateredVideos-left{
  position: relative;
  width: 65%;
}
.feateredVideos-left video{
  width: 100%;
  height: 100%;
  object-fit: cover; /*to cover all the box*/
}
.feateredVideos-left-overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
.overlay-city{
  position: absolute;
  left: 24px;
  bottom: 20px;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  width: 188px;
  height: 43px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}
.overlay-slogan{
  position: absolute;
  background-color: #FFFFFF;
  text-align: center;
  padding-top: 9px;
  width: 182px;
  height: 33px;
  left: 24px;
  bottom: 73px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #555555;
}
.feateredVideos-left-overlay:hover{
  cursor: pointer; /* Add a pointer on hover */
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
}

.fv-right-playList{
  height: 100%;
  overflow: scroll;
  padding-left: 18px;
}

.feateredVideos-playList{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  padding-top: 12px;
  padding-bottom: 2px;
  border-top: 1px solid #EDEDED;
}
.feateredVideos-playList img{
  grid-row: 1/3;
  width: 104px;
  height: 70px;
}
.feateredVideos-playList p{
  width: 167px;
  height: 35px;
  margin-left: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #3B4452;
}
.feateredVideos-playList time{
  width: 124px;
  height: 24px;
  margin-left: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #888888;
}
.fv-shareVideos{
  padding-left: 20px;
  display: none;
  padding-top: 20px;
}
.fv-shareVideos ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.fv-seeall{
  height: 26px;
  padding-left: 20px;
  display: none;
}
.fv-seeall p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 152.38%;
  /* or 17px */
  display:inline-block;
  color: #F24B6A;
}
@media screen and (max-width: 1000px){
  .feateredVideos{
    padding-top: 60px !important;
  }
  .horizon-line {
    width: 30px;

  }
  .feateredVideos-left{
    width: 100vw;
  }

  .feateredVideos-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding-top: 40px;
  }
  .overlay-city{
    font-size: 22px;
    line-height: 27px;
  }
  .overlay-slogan{
    width: 130;
    height: 13px;
    font-size: 9px;
    line-height: 11px;
  }
  .feateredVideos-right{
    height: 30vh;
  }
  .fv-shareVideos{
    display: block;
  }
  .fv-right-playList{
    height: 100%;
    overflow: hidden;
  }
  .fv-seeall{
    display: block;
  }
}

.featuredArticles{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.articles section{
  width: 80vw;
  max-width: 950px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #F9F9F9;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  margin-top: 20px;
}
.article-title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 152.38%;
  /* or 37px */
  align-items: center;
  color: #555555;
}
.articles-content{
  padding-left: 48px;
  max-width: 535px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.article-review{
  height: 133px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 175%;
  /* or 24px */
  color: #909090;
}
.article-rm{
  width: 96px;
  height: 26px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 152.38%;
  /* or 18px */
  color: #5EBFBF;
}
.featuredArticles-all{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 152.38%;
  /* or 24px */
  color: #F24B6A;
  margin-top: 20px;
  border-bottom: 1px solid #F24B6A;
}

@media screen and (max-width: 1000px){
  .articles section{
    width: 100vw;
  }
  .article-content{
    padding-left: 20px;
  }
  .article-title{
    font-size: 16px;
  }
  .article-review{
    height: 81px;
    overflow: hidden;
    font-size: 12px;
  }
  .article-img{
    width: 141px;
    height: auto;
  }
  .article-rm{
    display: none;
  }
}

.subscribe{
  width: 80vw;
  max-width: 950px;
  height: 220px;
  margin: 1em;
  margin-left: 10%;
  margin-top: 100px;
}
.subscribe-rec1{
  height: 100%;
  width: 100%;
  background: #FFF;
  padding: 5px;
  box-sizing: border-box;
  background: #5EBFBF;
}
.subscribe-rec2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: 1px solid #FFFFFF;
  padding: 10px;
  box-sizing: border-box;
}
.subscribe-title{
  height: 62px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 152.38%;
  /* or 40px */
  text-align: center;
  color: #FFFFFF;
}
.subscribe-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.subscribe-content p{
  width: 656px;
  height: 99px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 175%;
  /* or 31px */
  align-items: center;
  color: #FFFFFF;
}
.getNow-bt{
  display: flex;
  justify-content: center;
  width: 150px;
  height: 45px;
  background: #F2A413;
  border: 1px solid #909090;
  box-sizing: border-box;
  border-radius: 15px;
  text-align: center;
  align-items: center;
}

@media screen and (max-width: 1000px){
  .subscribe{
    width: 98vw;
    margin-left: 1vw;
  }
  .subscribe-title{
    font-size: 20px;
  }
  .subscribe-content{
    flex-direction: column;
  }
  .subscribe-content p{
    text-align: center;
    width: 80%;
    font-size: 14px;
  }
  .getNow-bt{
    width: 125px;
    height: 32px;
    left: calc(50% - 125px/2);
    font-size: 12px;
  }
}

.collaboration{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 49vw;
  overflow-x: scroll;
  margin-top: 70px;
  margin-bottom: 50px;
}
.service{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 217px;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  box-sizing: border-box;
}
.service img{
  width: 9vw;
  max-width: 142px;
}
@media screen and (max-width: 1000px){
  .services{
    justify-content: flex-start;
  }
  .service{
    width: 170px;
    height: 150px;
    margin-top: 29px;
    margin-bottom: 36px;
  }
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 276px;
  left: 0px;
  background: #F24B6A;
}

.col-2, .col-3, .col-4{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer a{
  height: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 146.28%;
  /* or 19px */
  color: #FFFFFF;
}

.col-1 img{
  margin-top: 33px;
  width: 194px;
  height: 28px;
  margin-left: 20%;
}
.col-1 .address{
  width: 100%;
  margin-top: 10%;
  margin-left: 20%;
}
.col-1 .address li{
  width: 100%;
  height: 32px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #FFFFFF;
}
#figcaption-desktop{
  margin-bottom: 0;
  margin-left: 20%;
  width: 100%;
  height: 21px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 146.28%;
  /* or 18px */
  color: #FFFFFF;
}
#figcaption-mobile{
  display: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
}
.col-2 ul{
  margin-top: 30%;
}

.col-3 ul{
  margin-top: 30%;
}

.col-4 p{
  width: 100%;
  text-align: center;
  margin-bottom: 12px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 146.28%;
  /* or 23px */
  color: #FFFFFF;
}
.social-media-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.social-media-list img{
  width: 36px;
  height: 36px;
}

@media screen and (max-width: 1000px){
  .footer{
    flex-direction: column;
  }
  .col-2,.col-3{
    display: none;
  }
  .col-4 p{
    display: none;
  }
  .col-1{
    width: 100vw;
    height: 100%;
    text-align: center;
  }
  .col-1 img{
    width: 148px;
    height: 22px;
  }
  .col-1 .address{
    width: 100%;
    margin-top: 10%;
    margin-left: 0;
  }
  .col-4{
    width: 100%;
    margin-bottom: 10%;
  }
  #figcaption-mobile{
    position: absolute;
    left: 38%;
    display: block;
    bottom: 2px;
  }
  #figcaption-desktop{
    display: none;
  }
}
