<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="The intetnetRover Project@marstravel.fi">
  <meta name="author" content="Yunlong Liu">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InternetRover</title>
  <link rel="shortcut icon" href='../pictures/icon.ico'>
  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="d-flex" id="wrapper">
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      </nav>
      <div class="d-flex" id="wrapper">
        <!-- Page Content -->
        <div id="page-content-wrapper">
          <div class="container-fluid">
            <div >
                <form action="/storepost" method="POST" style="text-align: center;width:100%;margin-left:0;margin-top:10%">
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <input class="form-control" type="text" name="title" size="12" placeholder="Post Title">
                    </div>
                    <div class="form-group col-md-4">
                      <input class="form-control" type="text" name="writer" placeholder="Writer"><br>
                    </div>
                    <div class="form-group col-md-4">
                      <input class="form-control" type="text" name="tag" placeholder="Tag New Post"><br>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Description">
                  </div>
                  <div class="form-group">
                    <div class="btn-group" role="group" aria-label="Basic example" style="width:100%">
                      <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          HtmlTag
                        </button>
                        <div class="dropdown-menu" id="htmltag" >
                        <ul>
                          <li class="dropdown-item" value="<h1></h1>">h1</li>
                          <li class="dropdown-item" value="<h2></h2>">h2</li>
                          <li class="dropdown-item" value="<h3></h3>">h3</li>
                          <li class="dropdown-item" value="<h4></h4>">h4</li>
                        </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="from-group">
                    <textarea id="contenttextarea"type="text" class="form-control" name="content" cols="120" rows="20"></textarea>
                  </div>
                  <input type="submit" value="Submit" class="btn btn-primary">
                </form>
          </div>
        </div>

      </div>

  </div>
  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="../vendor/writeblog.js"></script>
</body>

</html>
