<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="The intetnetRover Project@marstravel.fi">
  <meta name="author" content="Yunlong Liu">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InternetRover</title>
  <link rel="shortcut icon" href='../pictures/icon.ico'>
  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Icon -->
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  <!-- Custom styles for this template -->
  <link href="css/simple-sidebar.css" rel="stylesheet">
</head>

<body>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading" id="logo">
        <canvas id="canvas" width="280" height="90"></canvas>
      </div>
      <div class="list-group list-group-flush">
        <a href="/dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a href="/contact" class="list-group-item list-group-item-action bg-light">Contact</a>
        <a href="/news" class="list-group-item list-group-item-action bg-light">News</a>
        <a href="/generatecv" class="list-group-item list-group-item-action bg-light">generateCv</a>
        <a href="/wordcloud" class="list-group-item list-group-item-action bg-light">WordCloud</a>
        <a href="/blog" class="list-group-item list-group-item-action bg-light">Blog</a>
        <a href="/about" class="list-group-item list-group-item-action bg-light">About</a>
      </div>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">
          <i class="fa fa-navicon" style="font-size:20px"></i>
        </button>
      </nav>
      <div class="d-flex" id="wrapper">
        <!-- Page Content -->
        <div id="page-content-wrapper">
          <div class="container-fluid">
            <div >
                <form action="/storepost" method="POST" style="text-align: center;width:100%;margin-left:0;margin-top:10%">
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <input class="form-control" type="text" name="title" size="12" placeholder="Post Title">
                    </div>
                    <div class="form-group col-md-4">
                      <input class="form-control" type="text" name="writer" placeholder="Writer"><br>
                    </div>
                    <div class="form-group col-md-4">
                      <input class="form-control" type="text" name="tag" placeholder="Tag New Post"><br>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Description">
                  </div>
                  <div class="form-group">
                    <div class="btn-group" role="group" aria-label="Basic example" style="width:100%">
                      <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          HtmlTag
                        </button>
                        <div class="dropdown-menu" id="htmltag" >
                        <ul>
                          <li class="dropdown-item" value="<h1></h1>">h1</li>
                          <li class="dropdown-item" value="<h2></h2>">h2</li>
                          <li class="dropdown-item" value="<h3></h3>">h3</li>
                          <li class="dropdown-item" value="<h4></h4>">h4</li>
                        </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="from-group">
                    <textarea id="contenttextarea"type="text" class="form-control" name="content" cols="120" rows="20"></textarea>
                  </div>
                  <input type="submit" value="Submit" class="btn btn-primary">
                </form>
          </div>
        </div>

      </div>

  </div>
  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="../vendor/logo.js"></script>
  <script type="text/javascript" src="../vendor/writeblog.js"></script>
</body>

</html>
